@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans.ttf");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button:disabled {
  opacity: 0.5;
}

h1 {
  font-size: 24px;
  font-family: "Open Sans";
}

h2 {
  font-size: 20px;
  font-family: "Open Sans";
}

h3 {
  font-size: 16px;
  font-family: "Open Sans";
}

h3 {
  font-size: 14px;
  font-family: "Open Sans";
}

p {
  font-family: "Open Sans";
}
